<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" />

    <title><%= title %></title>

    <!-- KEYWORDS_PLACEHOLDER -->
    <meta name="keywords" content="<%= keywords %>" />
    <!-- DESCRIPTION_PLACEHOLDER -->
    <meta name="description" itemprop="description" content="<%= description %>" />

    <!--  favicon  -->
    <link rel="icon" type="image/x-icon" href="https://42-fe-cdn-1251316161.file.myqcloud.com/favicon.ico" />
    <link href="./static/customer_global.css" rel="stylesheet">
  </head>

  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root" class="root"></div>
  </body>
</html>
